<!DOCTYPE html>
<html>
  <head>
    <!-- <scrounge type=".css" trees="app.js"> -->
    <link href="/Users/chrisdep/Software/scroungejs/testbuild/testbuildFin/app.css?u=1384300591355" rel="stylesheet" type="text/css">
    <!-- </scrounge> -->

    <!-- <scrounge type=".js" trees="app.js"> -->
    <script src="/Users/chrisdep/Software/scroungejs/testbuild/testbuildFin/app.js?u=1384300591355" type="text/javascript"></script>
    <!-- </scrounge> -->
  </head>

  <body>
  </body>
</html>