<!DOCTYPE html>
<html>
  <head>
    <!-- <scrounge type=".css" trees="app.js"> -->
    <link href="/Users/chrisdep/Software/scroungejs/testbuild/testbuildFin/app_2013.10.24-17:15:48.css" rel="stylesheet" type="text/css">
    <!-- </scrounge> -->

    <!-- <scrounge type=".js" trees="app.js"> -->
    <script src="/Users/chrisdep/Software/scroungejs/testbuild/testbuildFin/app_2012.07.11-19:18:52.js" type="text/javascript"></script>
    <!-- </scrounge> -->
  </head>

  <body>
  </body>
</html>