<!DOCTYPE html>
<html>
  <head>
    <!-- <scrounge type=".css" trees="app.js"> -->
    <link href="/home/duko/Software/scroungejs/testbuild/testbuildFin/app_2013.10.22-21:14:13.css" rel="stylesheet" type="text/css">
    <!-- </scrounge> -->

    <!-- <scrounge type=".js" trees="app.js"> -->
    <script src="/home/duko/Software/scroungejs/testbuild/testbuildFin/app_2012.07.11-19:18:52.js" type="text/javascript"></script>
    <!-- </scrounge> -->
  </head>

  <body>
  </body>
</html>