<!doctype html>  
<html>  
  <head>  
    <script src="/app/lib/library.js" type="text/javascript"></script>
  </head>  
  <body>  
    <!-- <scrounge.js trees="app.js,app2.js"> -->
    <script src="/cmpr/app2.js" type="text/javascript"></script>
    <script src="/cmpr/app.js" type="text/javascript"></script>
    <!-- </scrounge> -->  
  </body>  
</html>